Source: puppet-module-puppetlabs-stdlib
Maintainer: Scibian Project <packaging@scibian.org>
Uploaders: Stig Sandbeck Mathisen <ssm@debian.org>,
           Thomas Bechtold <toabctl@debian.org>
Section: admin
Testsuite: autopkgtest
Priority: optional
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/scibian/puppet-module-puppetlabs-stdlib
Vcs-Git: https://github.com/scibian/puppet-module-puppetlabs-stdlib.git
Homepage: https://forge.puppet.com/puppetlabs/stdlib

Package: puppet-module-puppetlabs-stdlib
Architecture: all
Depends: ${misc:Depends},
#         puppet5 | puppet5-common
Description: Puppet module standard library
 Puppet lets you centrally manage every important aspect of your system
 using a cross-platform specification language that manages all the
 separate elements normally aggregated in different files, like users,
 cron jobs, and hosts, along with obviously discrete elements like
 packages, services, and files.
 .
 This module provides a standard library of resources for developing
 Puppet modules. This modules will include the following additions
 to Puppet:
 .
  * Stages
  * Facts
  * Functions
  * Defined resource types
  * Types
  * Providers
